#todo-error{
  color: red;
  font-size: 2em;
}
body{
  display: flex;
  height: 99vh;
  width: 99vw;
  flex-direction: column;
  font-family: 'Prompt', sans-serif;  
}
main{
  flex-grow: 1;
}
.hidden{
  display:none;
}
#quote:hover + .hidden{
  display: flex;
}
#clock{
  font-size: 50pt;
}
.text-right{
  text-align: right;
}.text-shadow{
  text-shadow: 2px 2px black;
}
.pointer{
  cursor: pointer;
}